body{
  background: black;
  font-family: courier;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*texte*/
p{
  color: white;
  margin-bottom: 35.5%;
  margin-right: 48%;
  font-size: 13px;
  text-align: justify;
  width: 600px;
  position: absolute;
}

.image1{
  margin-left: 38%;
  margin-bottom: 17%;
  width: 500px;
  position: absolute;
 
}

.image2{
  margin-top: 4.9%;
  margin-left: -46%;
  width: 345px;
  position: absolute;
  
}

.image3{
  margin-top: 4.9%;
  margin-left: -18%;
  width: 345px;
  position: absolute;
}

.image4{
  margin-top: 4.9%;
  margin-left: 10%;
  width: 350px;
  position: absolute;
 
}

/*Noir et blanc*/

.grayscale img:hover {
 filter: grayscale(0%); 
 transition-duration: 0.5s;

}

.grayscale img{
 filter: grayscale(100%);  }




/* Début du CSS pour le titre "Faites vos jeux !"*/

.middle{
  transform: translate (50%,-50%);
  margin-bottom: 40%;
  margin-right: 56.5%;
}

.text{
  position: absolute;
  color: white;
  text-transform : uppercase;
  font-size: 24px;
  letter-spacing: 14px;
}

.text::before,.text::after{
  content: attr(data-text);
   position: absolute;
   top: 0;
  left: 0;
   width: 100%;
  height: 100%;
  z-index: -1;
}

.text::before{
  color: #ff00c1;
  animation: glitch-effect 3s infinite;
}

.text::after{
   color: #3498db;
   animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect{
  0%{
    left: -2px;
    top: -2px;
 }
  
  25%{
    left: -2px;
    top: 0px;
 }
  
  50%{
    left: -1px;
    top: -2px;
 }
  
  75%{
    left: 1px;
    top: -1px;
 }
  
  100%{
    left: 0px;
    top: -2px;
 }
}

/*Fin du CSS pour le titre "Faites vos jeux !"*/







