body{
  background: black;
  font-family: courier;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*texte*/
p{
  color: white;
  margin-bottom: 35.5%;
  margin-right: -14%;
  font-size: 13px;
  text-align: justify;
  width: 600px;
  position: absolute;
}

.fanzinefinal1{
  width: 400px;
  margin-left: -63%;
  position: absolute;
}


a{
  margin-left: 50%;
  margin-bottom: -19%;
}
.noir{
  width: 300px;
  position: absolute;
}

.sleep{
  width: 400px;
  margin-bottom: -9%;
  margin-left: -1px;
  position: absolute;
}


/* Début du CSS pour le titre "One Billion Zine"*/

.middle{
  transform: translate (50%,-50%);
  margin-bottom: 40%;
  margin-right: -3.5%;
  
}

.text{
  position: absolute;
  color: white;
  text-transform : uppercase;
  font-size: 24px;
  letter-spacing: 14px;
}

.text::before,.text::after{
  content: attr(data-text);
   position: absolute;
   top: 0;
  left: 0;
   width: 100%;
  height: 100%;
  z-index: -1;
}

.text::before{
  color: #ff00c1;
  animation: glitch-effect 3s infinite;
}

.text::after{
   color: #3498db;
   animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect{
  0%{
    left: -2px;
    top: -2px;
 }
  
  25%{
    left: -2px;
    top: 0px;
 }
  
  50%{
    left: -1px;
    top: -2px;
 }
  
  75%{
    left: 1px;
    top: -1px;
 }
  
  100%{
    left: 0px;
    top: -2px;
 }
}

/*Fin du CSS pour le titre "One Billion Zine"*/







